Repository iamturns/iamturns.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

Typos and tweaks
  src/content/blog/2018/dev-stereotype/ContentDevStereotypeArticle.jsx
Due: prettier --write, eslint --fix

:wrench: Do not format when testing
  package.json
Due: none

:sparkles: :page_facing_up: Developer stereotype
  src/components/FootnoteLink/FootnoteLink.jsx
  src/components/FootnoteLink/index.jsx
  src/components/Link/Link.jsx
  src/content/blog/2018/dev-stereotype/ContentDevStereotype.jsx
  src/content/blog/2018/dev-stereotype/ContentDevStereotypeArticle.jsx
  src/content/blog/2018/dev-stereotype/ContentDevStereotypeFootnotes.jsx
  src/content/blog/2018/dev-stereotype/Footnote.jsx
  src/content/blog/2018/dev-stereotype/stereotypical-developers-2018.jpg
  src/styles/globals/atoms.css
  src/styles/globals/text.css
  tailwind.js
Due: prettier --write, eslint --fix, stylelint

Article CTA
  src/components/EmailPlease/EmailPlease.jsx
  src/components/LayoutContent/Email.jsx
  src/components/LayoutContent/Header.jsx
  src/components/LayoutContent/HeaderAuthor.jsx
  src/components/LayoutContent/LayoutContent.jsx
  src/utils/head-tags.js
  static/site.webmanifest
Due: prettier --write, eslint --fix

:sparkles: New email CTA for article pages
  src/components/EmailPlease/EmailPlease.jsx
  src/components/LayoutContent/Email.jsx
  src/components/LayoutContent/Header.jsx
  src/components/LayoutContent/HeaderAuthor.jsx
  src/components/LayoutContent/LayoutContent.jsx
  src/utils/head-tags.js
  static/site.webmanifest
Due: prettier --write, eslint --fix

:sparkles: Footnotes HOC
  src/components/FootnoteLink/FootnoteLink.jsx
  src/components/LayoutContent/Footer.jsx
  src/components/LayoutContent/Footnotes.jsx
  src/content/blog/2018/dev-stereotype/ContentDevStereotype.jsx
  src/content/blog/2018/dev-stereotype/ContentDevStereotypeArticle.jsx
  src/content/blog/2018/dev-stereotype/ContentDevStereotypeFootnotes.jsx
  src/hocs/withFootnotes.jsx
  src/styles/globals/atoms.css
  src/styles/globals/text.css
  src/types/Footnote.js
  src/utils/component.js
  src/utils/footnote.js
  tailwind.js
Due: prettier --write, eslint --fix, stylelint

:fire: Remove lint staged
  .lintstagedrc
  package-lock.json
  package.json
Due: none

:page_facing_up: Add links to dev stereotype blog
  src/content/blog/2018/dev-stereotype/ContentDevStereotype.jsx
  src/content/blog/2018/dev-stereotype/ContentDevStereotypeArticle.jsx
Due: prettier --write, eslint --fix

:sparkles: Footnotes HOC
  src/components/FootnoteLink/FootnoteLink.jsx
  src/components/LayoutContent/Footer.jsx
  src/components/LayoutContent/Footnotes.jsx
  src/components/LayoutContent/LayoutContent.jsx
  src/content/blog/2018/dev-stereotype/ContentDevStereotype.jsx
  src/content/blog/2018/dev-stereotype/ContentDevStereotypeArticle.jsx
  src/content/blog/2018/dev-stereotype/ContentDevStereotypeFootnotes.jsx
  src/hocs/withFootnotes.jsx
  src/styles/globals/atoms.css
  src/styles/globals/text.css
  src/types/Footnote.js
  src/utils/component.js
  src/utils/footnote.js
  tailwind.js
Due: prettier --write, eslint --fix, stylelint

Changed my mind on the title
  src/content/blog/2018/dev-stereotype/ContentDevStereotype.jsx
  src/content/blog/2018/dev-stereotype/ContentDevStereotypeArticle.jsx
Due: prettier --write, eslint --fix

Slight copy tweak
  src/content/blog/2018/dev-stereotype/ContentDevStereotypeArticle.jsx
Due: prettier --write, eslint --fix

Full stack
  src/content/blog/2018/dev-stereotype/ContentDevStereotypeArticle.jsx
Due: prettier --write, eslint --fix

Oops
  src/content/blog/2018/dev-stereotype/ContentDevStereotype.jsx
Due: prettier --write, eslint --fix

Grammar is fun?
  src/content/blog/2018/dev-stereotype/ContentDevStereotypeArticle.jsx
Due: prettier --write, eslint --fix

:electric_plug: :arrow_up: Upgrade dependencies
  package-lock.json
  package.json
  src/components/HeadTagsContent/get-content-head-tags.js
Due: prettier --write, eslint --fix

:pencil2: :page_facing_up: Stereotypical dev - Copy tweaks
  src/content/blog/2018/dev-stereotype/ContentDevStereotype.jsx
  src/content/blog/2018/dev-stereotype/ContentDevStereotypeArticle.jsx
Due: prettier --write, eslint --fix

:fire: :pencil2: Remove mission
  src/content/about/ContentAbout.jsx
Due: prettier --write, eslint --fix

:bug: :wrench: Fix old blog subdomain redirects on http
  static/_redirects
Due: none

:bug: :wrench: Fix reset command
  package.json
Due: none

:ribbon: Reduce leading range
  tailwind.js
Due: none

:pencil2: Headline tweaks
  src/content/blog/2017/rxjs-errors/ContentRxjsErrors.jsx
  src/content/blog/2018/goodbye-angular/ContentGoodbyeAngular.jsx
  src/content/blog/2018/open-graph-image/ContentOpenGraphImage.jsx
Due: prettier --write, eslint --fix

:sparkles: Keybase
  static/keybase.txt
Due: none

🌀 Avoid altering state during render
  src/content/blog/2018/dev-stereotype/ContentDevStereotype.jsx
  src/content/blog/2018/dev-stereotype/ContentDevStereotypeArticle.jsx
  src/hocs/withFootnotesChild.jsx
  src/hocs/withFootnotesParent.jsx
Due: prettier --write, eslint --fix

🐛 Fix incorrect footnote numbers
  src/hocs/withFootnotesChild.jsx
Due: prettier --write, eslint --fix

Init
  src/content/doing-javascript/ContentDoingJavascript.js
Due: prettier --write, eslint --fix

✨ Start command
  package.json
Due: none

💤 Minor content fixes
  src/content/about/ContentAbout.js
  src/content/example/ContentExample.js
Due: prettier --write, eslint --fix

Ready for soft launch
  src/components/EmailPlease/EmailPlease.js
  src/content/doing-javascript/ContentDoingJavascript.js
  src/content/doing-javascript/email/subscribed/ContentDoingJavaScriptEmailSubscribed.js
  src/content/doing-javascript/email/subscribed/jumping.jpg
  src/content/doing-javascript/email/success/ContentDoingJavaScriptEmailSuccess.js
Due: prettier --write, eslint --fix

Fix lint
  src/content/doing-javascript/ContentDoingJavascript.js
Due: prettier --write, eslint --fix

Add new mailchimp list ID
  src/components/EmailPlease/EmailPlease.js
  src/content/doing-javascript/ContentDoingJavascript.js
Due: prettier --write, eslint --fix

✨ Doing JavaScript
  src/components/EmailPlease/EmailPlease.js
  src/content/doing-javascript/ContentDoingJavascript.js
  src/content/doing-javascript/email/subscribed/ContentDoingJavaScriptEmailSubscribed.js
  src/content/doing-javascript/email/subscribed/jumping.jpg
  src/content/doing-javascript/email/success/ContentDoingJavaScriptEmailSuccess.js
Due: prettier --write, eslint --fix

Fix email list IDs
  src/components/EmailPlease/EmailPlease.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: src/**/*.{js,jsx,css,scss,json,md}
  eslint --fix: any of: src/**/*.{js,jsx}
  stylelint: any of: src/**/*.css
