Repository iamturns/iamturns.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

:zap: :memo: Tweak Angular Burnout
  src/content/blog/2018/goodbye-angular/Content.jsx
  src/content/blog/2018/goodbye-angular/PageGoodbyeAngular.jsx
Due: prettier --write, eslint --fix

:zap: :memo: Add links to Angular Burnout
  src/content/blog/2018/goodbye-angular/Content.jsx
Due: prettier --write, eslint --fix

:zap: :memo: Remove Medium reference in welcome post
  src/content/blog/2018/new-website/Content.jsx
Due: prettier --write, eslint --fix

:bug: Fix DOM nesting error on Angular Burnout post
  src/content/blog/2018/goodbye-angular/Content.jsx
Due: prettier --write, eslint --fix

:sparkles: Log rocket
  package-lock.json
  package.json
  src/config.js
  src/layouts/index.jsx
  src/utils/env.js
Due: prettier --write, eslint --fix

:zap: Add trailing slash to about page URL to normalize all URLS
  src/components/Author/Author.jsx
  src/components/GlobalFooter/GlobalFooter.jsx
  src/components/Hey/Hey.jsx
Due: prettier --write, eslint --fix

:zap: Log after delay
  src/layouts/index.jsx
Due: prettier --write, eslint --fix

:electric_plug: :arrow_up: Upgrade dependencies
  package-lock.json
  package.json
Due: none

:art: Apply Prettier to content
  src/content/about/PageAbout.jsx
  src/content/blog/2017/rxjs-errors/Content.jsx
  src/content/example/Content.jsx
Due: prettier --write, eslint --fix

:art: Remove c- prefix from class names
  src/content/about/ContentAbout.jsx
  src/content/blog/2017/rxjs-errors/ContentRxjsErrors.jsx
  src/content/blog/2018/goodbye-angular/ContentGoodbyeAngular.jsx
  src/content/blog/2018/new-website/ContentNewWebsite.jsx
  src/content/email/subscribed/ContentEmailSubscribed.jsx
  src/content/email/success/ContentEmailSuccess.jsx
  src/content/example/ContentExample.jsx
  src/styles/components/button.css
  src/styles/components/input.css
  src/styles/globals/atoms.css
  src/styles/globals/wysiwyg.css
  src/styles/main.css
  src/styles/utils/link-border.css
  src/styles/utils/text-highlight.css
Due: prettier --write, eslint --fix, stylelint

:zap: :memo: Polish Angular Burnout article
  src/content/blog/2018/goodbye-angular/ContentGoodbyeAngular.jsx
Due: prettier --write, eslint --fix

:art: Grammarly and restructure
  src/content/blog/2018/goodbye-angular/ContentGoodbyeAngular.jsx
Due: prettier --write, eslint --fix

:art: :memo: Angular Burnout article polish
  src/content/blog/2018/goodbye-angular/ContentGoodbyeAngular.jsx
Due: prettier --write, eslint --fix

:bug: Fix og:image not absolute URL
  src/components/Link/Link.jsx
  src/utils/head-tags.js
  src/utils/url.js
Due: prettier --write, eslint --fix

:art: :ribbon: Improve prism / code block styles for overriding
  src/components/Code/Code.jsx
  src/components/CodeBlock/CodeBlock.jsx
  src/styles/globals/atoms.css
  src/styles/globals/code.css
  src/styles/globals/prism.css
  src/styles/main.css
  src/styles/utils/hover-grow.css
Due: prettier --write, eslint --fix, stylelint

:zap: :lipstick: Change to cartoon avatar
  docs/images.md
  src/assets/images/matt-turnbull-cartoon-120.png
  src/assets/images/matt-turnbull-cartoon-240.png
  src/assets/images/matt-turnbull-cartoon.png
  src/assets/images/matt-turnbull-face-120.jpg
  src/assets/images/matt-turnbull-face-240.jpg
  src/assets/images/matt-turnbull-face.jpg
  src/components/Author/Author.jsx
  src/components/Hey/Hey.jsx
  src/content/about/ContentAbout.jsx
  src/content/about/cartoon.png
  src/content/about/cheers.gif
Due: prettier --write, eslint --fix

:art: Code readability tweak
  src/content/blog/2017/rxjs-errors/ContentRxjsErrors.jsx
Due: prettier --write, eslint --fix

:zap: :lipstick: Change to cartoon avatar
  docs/images.md
  src/assets/images/matt-turnbull-cartoon-120.png
  src/assets/images/matt-turnbull-cartoon-240.png
  src/assets/images/matt-turnbull-cartoon.png
  src/assets/images/matt-turnbull-face-120.jpg
  src/assets/images/matt-turnbull-face-240.jpg
  src/assets/images/matt-turnbull-face.jpg
  src/components/Author/Author.jsx
  src/components/Hey/Hey.jsx
  src/content/about/ContentAbout.jsx
  src/content/about/cartoon.png
  src/content/about/cheers.gif
  src/content/blog/2017/rxjs-errors/ContentRxjsErrors.jsx
Due: prettier --write, eslint --fix

:art: :lipstick: Improve About page code block
  src/components/Code/Code.jsx
  src/components/CodeBlock/CodeBlock.jsx
  src/content/about/ContentAbout.jsx
  src/content/blog/2017/rxjs-errors/ContentRxjsErrors.jsx
  src/content/blog/2018/goodbye-angular/ContentGoodbyeAngular.jsx
  src/content/example/ContentExample.jsx
  src/layouts/index.jsx
  src/styles/globals/atoms.css
  src/styles/globals/code-highlight.css
  src/styles/globals/wysiwyg.css
  src/styles/main.css
  src/styles/mixins/quote-pull.css
  src/styles/mixins/quote.css
  tailwind.js
Due: prettier --write, eslint --fix, stylelint

:art: Shuffle order of CSS
  src/styles/globals/code-highlight.css
Due: prettier --write, stylelint

art: :lipstick: Improve About page code block
  src/components/Code/Code.jsx
  src/components/CodeBlock/CodeBlock.jsx
  src/content/about/ContentAbout.jsx
  src/content/blog/2017/rxjs-errors/ContentRxjsErrors.jsx
  src/content/blog/2018/goodbye-angular/ContentGoodbyeAngular.jsx
  src/content/example/ContentExample.jsx
  src/layouts/index.jsx
  src/styles/globals/atoms.css
  src/styles/globals/code-highlight.css
  src/styles/globals/wysiwyg.css
  src/styles/main.css
  src/styles/mixins/quote-pull.css
  src/styles/mixins/quote.css
  tailwind.js
Due: prettier --write, eslint --fix, stylelint

:art: Fix code example indent
  src/content/example/ContentExample.jsx
Due: prettier --write, eslint --fix

:sparkles: :no_bell: Skip Log Rocket init for admin user
  package-lock.json
  package.json
  src/content/example/ContentExample.jsx
  src/layouts/index.jsx
  src/utils/log-rocket.js
  src/utils/user.js
Due: prettier --write, eslint --fix

:art: :memo: Misc content shuffle
  src/content/about/ContentAbout.jsx
  src/content/blog/2018/goodbye-angular/ContentGoodbyeAngular.jsx
Due: prettier --write, eslint --fix

:sparkles: :rocket: Redirect blog subdomain
  static/_redirects
Due: none

:bug: :ambulance: Fix undefiend string in custom image srcset property
  src/types/Image.js
  src/utils/image.js
Due: prettier --write, eslint --fix

:zap: :pencil: Change mission
  src/content/about/ContentAbout.jsx
Due: prettier --write, eslint --fix

:electric_plug: :heavy_minus_sign: Remove prop-types
  package.json
Due: none

:fire: :memo: Remove Prettier paragraph
  src/content/blog/2018/goodbye-angular/ContentGoodbyeAngular.jsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: src/**/*.{js,jsx,css,scss,json,md}
  eslint --fix: any of: src/**/*.{js,jsx}
  stylelint: any of: src/**/*.css
